<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		{% load static %}
		<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
	</head>
	<body>
		<div class="container">
			<h1>Welcome</h1>
			Welcome! You can login here!
			<button class="btn btn-default" type="button" name="button">Login</button>
		</div>
		<div class="jumbotron">
			<h1>Welcome!</h1>
		</div>
	</body>
</html>
